html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #E1F5FE;
  color: #000; }

.page {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .page::after {
    clear: both;
    content: "";
    display: table; }
  .page .content .problem .description {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-bottom: 2em; }
    .page .content .problem .description:last-child {
      margin-right: 0; }
  .page .content .problem .problem-code-examples {
    margin: 2em 0; }
    .page .content .problem .problem-code-examples .problem-box {
      font-family: monospace;
      padding: 1em;
      border: solid 1px #81D4FA; }
    .page .content .problem .problem-code-examples .problem-code {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page .content .problem .problem-code-examples .problem-code:last-child {
        margin-right: 0; }
    .page .content .problem .problem-code-examples .problem-examples {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page .content .problem .problem-code-examples .problem-examples:last-child {
        margin-right: 0; }
  .page .content .problem button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    border: none;
    background-color: #0277BD;
    color: #fff;
    padding: 1em 0.5em;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 1em; }
    .page .content .problem button:last-child {
      margin-right: 0; }
  .page .content .solution {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 1em;
    font-family: monospace;
    padding: 1em;
    border: solid 1px #81D4FA;
    background-color: #fff; }
    .page .content .solution:last-child {
      margin-right: 0; }
    .page .content .solution pre {
      font-size: 1em; }
    .page .content .solution.show {
      display: block; }
    .page .content .solution.hidden {
      display: none; }
